.contenedorCards {
  display: flex;
  flex-wrap: wrap;
  width: 100vw;
  align-items: flex-end;
  justify-items: center;
  flex-direction: row;
  align-content: center;
  vertical-align: middle;
  justify-content: center;
  margin-top: 50px;
}

.card {
  display: flex;
  align-items: center;
  justify-items: center;
}

.NavContainer {
  display: flex;
  background-color: #00a080;
  width: 100%;
  overflow: hidden;
  position: fixed; /* Set the navbar to fixed position */
  top: 0;
  width: 100%;
  left: 0;
}

.filtros {
  display: flex;
  margin-top: 100px;
  justify-content: space-evenly;
}
